<div class="row {{ event.system | replace({'.': '_'}) }}">

    {#% include "BauerIncidentDashboardCoreBundle:Default:partials/options.html.twig" %#}

    <div class="status {{ event.status }}">&nbsp;</div>

    <div class="message">
        {% if event.status == "success" %}
            {% if event.type %}
                {{ event.type }}
            {% endif %}
        {% else %}
            {{ event.message | raw }}
        {% endif %}
        {% if event.url != "" %}
            <a href="{{ event.url }}" target="_blank">
                <span class="tool-button" style="background-color: #95a5a6">Link</span>
            </a>
        {% endif %}
        <div class="info">
            <img src="/images/calendar.png">

            <p>last update {{ event.created | time_diff }}
                {% if event.lastStatusChange %}
                    ,
                    {% if event.status == "success" %}
                        last failure
                    {% else %}
                        last success
                    {% endif %}
                    {{ event.lastStatusChange| time_diff }}
                {% endif %}
            </p>
        </div>
    </div>
    <div class="identifier">
        <a href="{{ path("bauer_incident_dashboard_core_systems", {"project": project.identifier} ) }}#{{ event.system }}">{{ event.system }}</a>
        <!--span class="id_code">{{ event.eventIdentifier.identifier }}</span-->
        {#% if event.type %}
            <span class="tipso desktop" data-tipso-title="{{ event.type }}"
                  data-tipso="{{ event.type }}">
                        <span class="tool-button">Tool</span>
                    </span>
        {% endif %#}
    </div>

    <div class="tool">{{ event.type }}</div>

    <div class="option" style="float: right; text-align: right; width: 60px">
        {% if not app.user is null and app.user.hasUserRole(project, constant('Bauer\\IncidentDashboard\\CoreBundle\\Entity\\UserRole::ROLE_COLLABORATOR')) %}
            {% if event.status == "failure" and not event.eventIdentifier.knownIssue %}
                <a href="{{ path("koalamon_default_event_knownissue_mark", { "eventIdentifier": event.eventIdentifier.id }) }}"><img src="/images/check.jpg" width="15" style="float: left"/></a>
                <a href="{{ path("bauer_incident_dashboard_core_close", { "project": project.identifier, "event": event.id }) }}"><img src="/images/close.jpg" width="15" style="float: left"/></a>
            {% endif %}
            {% if event.status == "failure" and event.eventIdentifier.knownIssue %}
                <a href="{{ path("koalamon_default_event_knownissue_unmark", { "eventIdentifier": event.eventIdentifier.id }) }}"><img src="/images/check.jpg" width="15" style="float: left"/></a>
            {% endif %}

        {% endif %}
        {% if not event.unique %}
            <a href="" onclick="drawChart('{{ event.id }}', 'stats-{{ event.id }}'); return false;"><img src="/images/stats.jpg" width="15" style="float: left"/></a>
        {% endif %}
    </div>

    <div class="stats" id="stats-{{ event.id }}"></div>
</div>
