<div class="centered">
    <div style="float: left">
        <a href="{{ path("koalamon_default_homepage") }}">
            <div style="float: left; padding-right: 10px; position: relative; top: 5px">
                <img src="http://www.phmlabs.com/slack.png" width="30">
            </div>
            <h1 style="float: left; padding-right: 5px"><strong>Koala</strong>Mon</h1>
        </a>
        {% if project.name is defined %}
            <div id="breadcrumb">
                / {{ project.name }}
                {% if systems is defined and not dashboard%}
                    /  <select onchange="showSystem(this.value)"
                               style="position: relative;top: -1px; maring-left: 20px">
                    <option value="_all" selected>Show all Systems</option>
                    {% for system in systems %}
                        <option value="{{ system.identifier }}">{{ system.name }}</option>
                    {% endfor %}
                </select>
                {% endif %}
            </div>
        {% endif %}

    </div>
    <div id="menu" style="padding-top: 20px">
        {% if app.user.username is defined %}
            <a href="{{ path("fos_user_security_logout") }}">Logout</a>
        {% else %}
            <a href="{{ path("fos_user_security_login") }}">Login</a>
            <a href="{{ path("fos_user_registration_register") }}">Sign up for FREE</a>
        {% endif %}
    </div>
</div>
