<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Incident Management{% endblock %} - KOALAMON</title>
    {% block stylesheets %}{% endblock %}

    <!-- external javascript libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <!-- toastr flash messages-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">

    <!-- tipso library for tooltips -->
    <link rel="stylesheet" href="/tipso/tipso.css">
    <script src="/tipso/tipso.js"></script>

    <script src="/js/autocomplete.js"></script>
    <script src="/js/list.js"></script>

    <!-- koalamon icons -->
    <link rel="icon" type="image/png" href="/favicon-logo.png">

    <!-- koalamon css files -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel='stylesheet' href='/css/style.css' type='text/css' media='all'/>
    <link rel='stylesheet' href='/css/mobile.css' type='text/css' media='all'/>

    <link rel='stylesheet' href='/css/theme_two.css' type='text/css' media='all'/>

    <!-- koalamon js files -->
    <script src="{{ asset('bundles/koalamondefault/js/project_status.js') }}"></script>

    <!-- external fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700' rel='stylesheet' type='text/css'>

    <!-- fosuser js rounting bundle -->
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

    <!--Load the AJAX API. Do this only once per web page! -->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <script type="text/javascript">
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": true,
            "progressBar": false,
            "positionClass": "toast-top-center",
            "preventDuplicates": true,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    </script>
</head>

<body>

<div id="sitebar">
    <a href="{{ path('koalamon_default_homepage') }}"><img src="/images/logo.png" width="150" style="margin-top: 30px; margin-left: 15px"></a>
    {#
    {% if app.user.username is defined and app.user.hasFavoriteProjects %}
        <div class="sitebar-block">
            <h2><a href="{{ path("koalamon_user_homepage") }}">Favorites</a></h2>
            <ul>
                {% for myproject in app.user.favoriteProjects %}
                    <li>
                    <span class="{% if project is defined and not project is null and project.id == myproject.id %}selected{% endif %}"><a
                                href="{{ path('bauer_incident_dashboard_core_homepage', {'project': myproject.identifier }) }}">{{ myproject.name }}</a></span>
                        {% if myproject.openIncidentCount > 0 %}
                            <div class="counter warning">{{ myproject.openIncidentCount }}</div>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
#}
    {% if app.user.username is defined %}
        <div class="sitebar-block">
            <h2><a href="{{ path("koalamon_user_homepage") }}">Projects</a></h2>
            <ul>
                <li style="font-style: italic; font-size: 12px"><a href="{{ path("koalamon_default_project_create") }}">Create new Project</a></li>
                {% for myproject in app.user.projects %}
                    <li>
                    <span class="{% if project is defined and not project is null and project.id == myproject.id %}selected{% endif %}"><a
                                href="{{ path('bauer_incident_dashboard_core_homepage', {'project': myproject.identifier }) }}">{{ myproject.name }}</a></span>
                        {% if myproject.openIncidentCount > 0 %}
                            <div class="counter warning">{{ myproject.openIncidentCount }}</div>
                        {% endif %}
                        {% if project is defined and not project is null and project.id == myproject.id %}
                            <ul class="submenu">
                                <li>
                                    <a href="{{ path("bauer_incident_dashboard_core_homepage", {"project": project.identifier} ) }}">Status</a>

                                    <div class="counter">{{ myproject.openIncidentCount }}</div>
                                </li>
                                <li><a href="{{ path("bauer_incident_dashboard_core_past", { "project": project.identifier, "intervalInHours": 24}) }}">24 hours</a>
                                </li>
                                <li><a href="{{ path("bauer_incident_dashboard_core_systems", {"project": project.identifier} ) }}">Systems</a>

                                    <div class="counter">{{ project.systems|length }}</div>
                                </li>
                                <li><a href="{{ path("bauer_incident_dashboard_core_tools", {"project": project.identifier} ) }}">Tools</a>

                                    <div class="counter">{{ project.tools|length }}</div>
                                </li>
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        {% if project is defined and project.public %}
            <div class="sitebar-block" style="margin-top: 30px">
                <ul>
                    <li>
                        <span class="selected"><a href="{{ path('bauer_incident_dashboard_core_homepage', {'project': project.identifier }) }}">{{ project.name }}</a></span>
                        {% if project.openIncidentCount > 0 %}
                            <div class="counter warning">{{ project.openIncidentCount }}</div>
                        {% endif %}
                        <ul class="submenu">
                            <li>
                                <a href="{{ path("bauer_incident_dashboard_core_homepage", {"project": project.identifier} ) }}">Status</a>

                                <div class="counter">{{ project.openIncidentCount }}</div>
                            </li>
                            <li><a href="{{ path("bauer_incident_dashboard_core_past", { "project": project.identifier, "intervalInHours": 24}) }}">24 hours</a>
                            </li>
                            <li><a href="{{ path("bauer_incident_dashboard_core_systems", {"project": project.identifier} ) }}">Systems</a>

                                <div class="counter">{{ project.systems|length }}</div>
                            </li>
                            <li><a href="{{ path("bauer_incident_dashboard_core_tools", {"project": project.identifier} ) }}">Tools</a>

                                <div class="counter">{{ project.tools|length }}</div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        {% endif %}
    {% endif %}
</div>


<div id="main">

    <style>
        #header-bar {
            height: 50px;
            padding-top: 25px;
            border-bottom: 1px solid #ccc;
            color: #000;
            padding-left: 300px;
            width: calc(100% - 340px);
            padding-right: 40px;
            font-weight: 200;
        }

        #header-bar #user-menu {
            float: right;
        }
    </style>

    <div id="header-bar">
        <div id="user-menu">
            {{ app.user.username }}
            <a class="button selected" href="{{ path("fos_user_security_logout") }}">Logout</a>
        </div>
    </div>

    {% include "@KoalamonIncidentDashboard/Default/partials/breadcrumb.html.twig" %}

    <div id="body">
        {% block body %}{% endblock %}
    </div>
</div>

<script>
    $('.tipso').tipso({
        size: 'small'
    });
</script>
{% block javascripts %}{% endblock %}
</body>
</html>