{% extends 'KoalamonDefaultBundle:Default:master/admin.html.twig' %}

{% block admin %}

    <h2>Notification Channels</h2>

    <style>
        .configs {
            margin-bottom: 50px;
        }
    </style>

    <div class="configs">
        {% for config in configs %}
            <div class="config">
                <div style="width: 400px; float: left">{{ config.name }}</div>
                <div style="width: 200px; float: left">{{ config.senderType }}</div>
                <div>
                    <a href="{{ path('koalamon_notification_engine_edit', {'project': project.identifier, 'notificationConfiguration': config.id}) }}">edit</a> |
                    <a href="{{ path('koalamon_notification_engine_delete', {'project': project.identifier, 'notificationConfiguration': config.id}) }}">delete</a></div>
            </div>
        {% endfor %}
    </div>

    <h2>Create a new Notification Channel</h2>

    <ul>
        {% for senderIndentifier, sender in senders %}
            <li><a href="{{ path('koalamon_notification_engine_create', {'project': project.identifier, 'senderIdentifier': senderIndentifier}) }}"> {{ sender.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}