{% extends 'KoalamonDefaultBundle::system.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Login{% endblock %}
{% block body %}

    <style>
        #system #login-form input[type='text'] {
            width: 325px;
        }

        #system #login-form input[type='password'] {
            width: 325px;
            margin-bottom: 20px;
        }
    </style>

    <div id="content" style="padding-top: 0">
        <a href="{{ path('koalamon_default_homepage') }}"><img src="/images/logo.png" width="200px" style="position: relative; left: 394px; top: 75px;"></a>

        <div class="">
            <div id="login_form">

                <h1>Login</h1>

                <p>If you don't already have an account you easyly register a <strong>free</strong> account.</p>

                <a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}" target="_parent">
                    <div style="width: 330px; background-color: #3B5998; border-radius: 5px; color: #ffffff; height: 38px; margin-top: 40px">
                        <img src="/images/facebook_small.jpg" style="float: left; padding-left: 10px; padding-top: 5px">

                        <p style="margin-left: 50px; padding-top: 10px">Login with facebook</p>
                    </div>
                </a>

                <a href="{{ path('hwi_oauth_service_redirect', {'service': 'github' }) }}" target="_parent">
                    <div style="width: 330px; background-color: #000000; border-radius: 5px; color: #ffffff; height: 38px; margin-top: 10px">
                        <img src="/images/github_light_small.png" width="28px" heught="28px" style="float: left; padding-left: 10px; padding-top: 5px">

                        <p style="margin-left: 50px; padding-top: 10px">Login with GitHub</p>
                    </div>
                </a>

                <a href="#"
                   onclick="$('#login-form').show('slow'); $('#modalDialogContent', parent.document).animate({height:'640'}); return false"
                   target="_parent">
                    <div style="width: 330px; background-color: #FF0066; border-radius: 5px; color: #ffffff; height: 38px; margin-top: 10px">
                        <p style="margin-left: 50px; padding-top: 10px">Login with Username</p>
                    </div>
                </a>

                <div id="login-form" style="display: none;">
                    <div style="width: 330px; margin-bottom: 20px; border-top: 1px solid #d7d7d7;">&nbsp;</div>

                    {% if error %}
                        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <form action="{{ path("fos_user_security_check") }}" method="post">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

                        <label for="username">{{ 'security.login.username'|trans }}</label>
                        <input type="text" id="username" name="_username" value="{{ last_username }}"
                               required="required"/>

                        <label for="password">{{ 'security.login.password'|trans }}</label>
                        <input type="password" id="password" name="_password" required="required"/>

                        <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}"/>

                    <span style="padding-top: 10px; font-size: 13px"><a href="{{ path('fos_user_resetting_request') }}">Passwort
                            vergessen?</a></span>
                    </form>
                </div>
                <div style="padding-top: 20px; padding-left: 50px">
                    <a href="{{ path("fos_user_registration_register") }}">Register <strong>free</strong> Account</a>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}
