<style>

    .admin-system-list table {
        padding-top: 10px;
        margin-left: 20px;
        margin-top: 20px;
    }

    .admin-system-list input[type='checkbox'] {
        margin-right: 10px;
    }

    .admin-system-list table td {
        width: 250px;
        padding-right: 40px;
        font-size: 14px;
        line-height: 30px;
    }

    .admin-system-list table thead {
        background-color: #eaeaea;
        color: black;
    }

    .admin-system-list table td {
        padding-left: 10px;
    }

</style>

<div class="admin-system-list">
    <table>
        <thead>
        <tr>
            <td>Name</td>
            <td style="width: 400px">Url</td>
        </tr>
        </thead>
        {% for system in systems %}
            <tr class="row-system-main">
                <td>
                    <input
                            type="checkbox"
                            name="systems[{{ system.id }}][enabled]"
                            onchange="$('#system_options_{{ system.id }}').toggle();"
                            {% if checkedSystems[system.id] is defined %}checked=checked{% endif %}>
                    <span style="font-weight: 400">{{ system.name }}</span>
                </td>
                <td>{{ system.url }}</td>
            </tr>
            {% if optionsTemplate is defined %}
                <tr style="{% if not checkedSystems[system.id] is defined %}display: none{% endif %}" id="system_options_{{ system.id }}">
                    <td></td>
                    <td>
                        {% if not checkedSystems[system.id] is defined and not checkedSystems[system.id].options is defined %}
                            {% set options = {} %}
                        {% else %}
                            {% set options = checkedSystems[system.id].options %}
                        {% endif %}
                        {% include optionsTemplate with { 'system': system, 'options': options, 'elementName': 'systems[' ~ system.id ~ '][options]' } %}
                    </td>
                </tr>
            {% endif %}

            {% for subsystem in system.subsystems %}
                <tr class="row-system-sub">
                    <td>
                        <input
                                type="checkbox"
                                onchange="$('#system_options_{{ subsystem.id }}').toggle();"
                                style="margin-left: 30px;"
                                name="systems[{{ subsystem.id }}][enabled]"
                                {% if checkedSystems[subsystem.id] is defined %}checked=checked{% endif %}>
                        {{ subsystem.name }}
                    </td>
                    <td>{{ subsystem.url }}</td>
                </tr>
                {% if optionsTemplate is defined %}
                    <tr style="{% if not checkedSystems[subsystem.id] is defined %}display: none{% endif %}" id="system_options_{{ subsystem.id }}">
                        <td></td>
                        <td>
                            {% if not checkedSystems[subsystem.id] is defined and not checkedSystems[subsystem.id].options is defined %}
                                {% set options = {} %}
                            {% else %}
                                {% set options = checkedSystems[subsystem.id].options %}
                            {% endif %}
                            {% include optionsTemplate with { 'system': subsystem, 'options': options, 'elementName': 'systems[' ~ subsystem.id ~ '][options]' } %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}

        {% endfor %}

    </table>
</div>