<style>
    .options input {
        margin-right: 10px;
    }
</style>

<div class="options">
    <input type="number" min="0" max="100" required="required" name="{{ elementName }}[pageSize]" {% if options.pageSize is defined %}value="{{ options.pageSize }}"{% endif %}> Page Size in MB<br/>
    <input type="number" min="0" max="100" required="required" name="{{ elementName }}[fileSize]" {% if options.fileSize is defined %}value="{{ options.fileSize }}"{% endif %}> File Size in KB<br/>
    {#<input type="number" min="0" max="100" required="required" name="{{ elementName }}[javaScriptCount]" {% if options.javaScriptCount is defined %}value="{{ options.javaScriptCount }}"{% endif %}>
    JavaScript File Count<br/>
    <input type="number" min="0" max="100" required="required" name="{{ elementName }}[cssFileCount]" {% if options.cssFileCount is defined %}value="{{ options.cssFileCount }}"{% endif %}> CSS File
    Count#}
</div>